<!DOCTYPE html>
<html>
<head>
  <!-- 
    I based the structure of my application off the Library Book App found in the Developing Backbone Book
    by Addy Osmani.    
  -->
  <meta charset="UTF-8">
  <title>Health Tracker</title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <h1>Eric's Health Tracker</h1>
  <div id="results">
    <input id="search" type="search">
  </div>
  <div id="daily-totals">
  </div>
  <script type="text/template" id="resultsTemplate">
    <section id="resultsContainer">
      <ul>
        <li data-id="<%= item_id %>"><%= brand_name %> <%= item_name %>: <%= nf_calories %> calories</li>
      </ul> 
    </section>
  </script>

  <script type="text/template" id="dailyItemsTemplate">
    <section id="dailyTotalsContainer">
      <ul>
        <li data-id="<%= item_id %>"><%= brand_name %> <%= item_name %>: <%= nf_calories %> calories</li>
      </ul> 
    </section>
  </script>

  <!-- Our libraries to make all this magic happen -->
  <script src="js/lib/jquery-2.1.4.js"></script>
  <script src="js/lib/underscore-1.8.3.js"></script>
  <script src="js/lib/backbone-1.2.2.js"></script>
  <script src="js/lib/backboneLocalStorage-1.1.16.js"></script>
  <script src="js/helpers/nutritionix.js"></script>


  <script src="js/models/dailyItem.js"></script>
  <script src="js/collections/dailyItemsList.js"></script>
  <script src="js/views/DailyItemView.js"></script>
  <script src="js/views/DailyItemsView.js"></script>


  
  <script src="js/models/result.js"></script>
  <script src="js/collections/results.js"></script>
  <script src="js/views/ResultView.js"></script>
  <script src="js/views/ResultsView.js"></script>




  <script src="js/app.js"></script>
</body>
</html>