<!DOCTYPE html>
<html>
<head>
  <!-- 
    I based the structure of my application off the Library Book App found in the Developing Backbone Book
    by Addy Osmani.    
  -->
  <meta charset="UTF-8">
  <title>Health Tracker</title>

  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div id="main-header">
    <h1 id="title">You ate how much!?</h1>
  </div>
  <div id="total-calories">
  </div>
  <div id="results">
    <input id="search" type="search">
    <p id="instructions">
      Enter your search terms in the seach box and press enter.<br>
      Click on any of the search results to add it to your list of items eaten.
    </p>
  </div>
  <div id="daily-totals">
    <h2 id="food-items-heading">What you have eaten...</h2>
  </div>
  <script type="text/template" id="resultsTemplate">
    <ul>
      <li data-id="<%= item_id %>"><%= brand_name %> <%= item_name %>: <%= nf_calories %> calories</li>
    </ul> 
  </script>
  <script type="text/template" id="dailyItemsTemplate">
    <ul>
      <li><%= brand_name %> <%= item_name %>: <%= nf_calories %> calories</li>
    </ul>
    <!-- Added a horizontal rule here to make food items distinct-->
    <hr>
  </script>
  <script type="text/template" id="totalCaloriesTemplate">
    <sectionid="totalCaloriesContainer">
      <h2 id="calorie-total">Total Calories: <%= totalCalories %></h2>
      <span id="clear-totals">Clear Totals</span>
    </section>
  </script>

  <!-- Our libraries to make all this magic happen -->
  <script src="js/lib/jquery-2.1.4.js"></script>
  <script src="js/lib/underscore-1.8.3.js"></script>
  <script src="js/lib/backbone-1.2.2.js"></script>
  <script src="js/lib/backbone-local-storage-1.1.16.js"></script>
  <script src="js/helpers/nutritionix.js"></script>
  <script src="js/models/daily-item.js"></script>
  <script src="js/collections/daily-items-list.js"></script>
  <script src="js/views/total-calories-view.js"></script>
  <script src="js/views/daily-item-view.js"></script>
  <script src="js/views/daily-items-view.js"></script>
  <script src="js/models/result.js"></script>
  <script src="js/collections/results.js"></script>
  <script src="js/views/result-view.js"></script>
  <script src="js/views/results-view.js"></script>
  <script src="js/app.js"></script>
</body>
</html>